/*hero*/

/*menu*/
:root {
    --menu-color: #5B5B5B;
}
body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.nav {
    background-color: var(--menu-color);
    color: white;
    position: fixed top;
    width: 100vw;
    margin-bottom: 0;
}

.list-item-nav {
    text-align: right;
    width: 100vw;
}
.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}
.nav ul li {
    padding: 0.4rem;
}
.nav ul li:not(:first-child) {
    display: none;
}
.nav.show-us-the-menu {
    background-color: transparent;
}
.nav.show-us-the-menu ul li:not(:first-child){
    display: block;
    min-width: 120px;
    background-color: var(--menu-color);
    padding-left: 1rem;
}
.nav.show-us-the-menu ul li:first-child{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--menu-color);
    padding-bottom: 0.55rem;
}
.nav.show-us-the-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-inline-start: 0;
}
.burger:hover i {
    color: black;
}

/*menu*/


.hero {
    background: url('../images/2020-09-30_15.47.11.png');
    width: 100%;
    background-size: cover;
    min-height: 90%;
    background-position: top;
    height: 50vw;
}

.hero h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    font-size: 20px;
    line-height: 40px;
    color: white;
}
/*hero*/

/*info grid 1*/
.pinfo {
    font-size: 6px;
    line-height: 15px;
    padding: 1rem;
    color: white;
}

.ulinfo {
    font-size: 6px;
    line-height: 15px;
    padding: 1rem;
    color: white;
    list-style: none;
    text-align: center;
}

.h3info {
    font-size: 8px;
    text-align: center;
    color: white;
}

.info-grid1 {
    display: grid;
    grid-template-areas: 
        "text-box"
        "basictips"
        "axe1" 
        "axe2"
        "chest"
        "creeper"
        "sheep";
    background-image: url('../images/2020-09-30_15.47.54\ \(1\).png');
    width: 100%;
    background-size: contain;
    background-image: absolute;
    background-position-y: 90rem;
}

.info-grid__info-item--wide.bg-textbox { 
    grid-area: text-box;
    font-size: 8px;
    text-align: center;
    background-color: #5B5B5B;
    color: white;
    margin-bottom: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
    line-height: 0.9rem;
}

.basictips, .info-grid__info-item--small.bg-light-grey1basic, .info-grid__info-item--small.bg-light-grey2basic, .info-grid__info-item--small.bg-dark-grey1, 
.info-grid__info-item--small.bg-light-grey2, .info-grid__info-item--small.bg-dark-grey2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
}

.basictips {
    grid-area: basictips;
    background-color: #5B5B5B;
}

.info-grid__info-item--small.bg-light-grey1basic {
    grid-area: axe1;
    background-color: #5B5B5B;
}

.info-grid__info-item--small.bg-light-grey2basic {
    grid-area: axe2;
    background-color: #5B5B5B;
}

.info-grid__info-item--small.bg-dark-grey1 {
    grid-area: chest;
    background-color: #696969;
}

.info-grid__info-item--small.bg-light-grey2 {
    grid-area: creeper;
    background-color: #5B5B5B;
}

.info-grid__info-item--small.bg-dark-grey2 {
    grid-area: sheep;
    background-color: #696969;
}
/*info grid 1*/

/*cavepicsection*/
.cavepic2 {
    width: 100%;
    height: auto;
}
/*cavepicsection*/

/*info grid 2*/
.info-grid2 {
    display: grid;
    grid-template-areas: 
        "minerals dungeons"
        "mineshafts dimensions";     
}

.info-grid__info-item--small.bg-light-grey1-1 {
    grid-area: minerals;
    background-color: #696969;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.info-grid__info-item--small.bg-dark-grey1-1 {
    grid-area: dungeons;
    background-color: #5B5B5B;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.info-grid__info-item--small.bg-light-grey2-2 {
    grid-area: mineshafts;
    background-color: #5B5B5B;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.info-grid__info-item--small.bg-dark-grey2-2 {
    grid-area: dimensions;
    background-color: #696969;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

/*svgs*/

.info-grid__info-item--small.bg-light-grey1-1, .info-grid__info-item--small.bg-dark-grey1-1, 
.info-grid__info-item--small.bg-light-grey2-2, .info-grid__info-item--small.bg-dark-grey2-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*svgs*/

/*info grid 2*/

/*footer*/

.bedrock {
    width: 100%;
    background-size: cover;
    min-height: 240px;
}



/*up*/
.up {
    background-color: #5B5B5B;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.up img {
    width: 20px;
    margin:auto;
    padding-top: 10px;
}

.up a {
    margin: 0;
    padding-bottom: 30px;
    color: rgba(250, 250, 250, 0.7);
}

.up a:hover {
    text-shadow: 4px 4px 4px rgb(105, 105, 105);
}
/*up*/

/*footer*/

/*media queries*/
@media screen and (min-width: 400px) {

    /*hero*/

    .hero {
        background: url('../images/2020-09-30_15.47.11.png');
        width: 100%;
        background-size: cover;
        min-height: 90%;
        background-position: top;
        height: 60vw;
    }

    /*hero*/

    /*infogrid 1*/

    .info-grid1 {
        display: grid;
        grid-template-areas: 
            "text-box"
            "basictips"
            "axe1" 
            "axe2"
            "chest"
            "creeper"
            "sheep";
        background-image: url('../images/2020-09-30_15.47.54\ \(1\).png');
        width: 100%;
        background-size: contain;
        background-image: absolute;
        background-position-y: 10rem;
    }

    .info-grid__info-item--wide.bg-textbox { 
        grid-area: text-box;
        font-size: 8px;
        text-align: center;
        background-color: #5B5B5B;
        color: white;
        margin-bottom: 60px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.1rem;
        letter-spacing: 0.1rem;
        line-height: 0.9rem;
    }

    /*infogrid 1*/

}

@media screen and (min-width: 700px) {

    /*menu*/

    .nav ul li:first-child {
        display: none;
    }

    .nav ul li:not(:first-child) {
        display: block;
    }

    .list-item-nav {
        text-align: center;
        width: 100vw;
    }

    .nav ul li {
        padding: 1.5rem;
    }

    .nav ul li a {
        color: white;
        text-decoration: none;
    }

    /*menu*/

    /*hero*/

    .hero h1 {
        text-align: center;
        margin-top: 0;
        padding-top: 10rem;
        font-size: 60px;
        line-height: 40px;
        color: white;
    }

    /*hero*/

    /*infogrid 1*/

    .pinfo {
        font-size: 20px;
        line-height: 30px;
        padding: 2rem;
        color: white;
    }
    
    .ulinfo {
        font-size: 20px;
        line-height: 30px;
        padding: 1rem;
        color: white;
        list-style: none;
        text-align: center;
    }
    
    .h3info {
        line-height: 30px;
        font-size: 30px;
        text-align: center;
        color: white;
    }

    .basictips, .info-grid__info-item--small.bg-light-grey1basic, .info-grid__info-item--small.bg-dark-grey1, 
    .info-grid__info-item--small.bg-dark-grey2 {
        margin-left: 2rem;
    }

    .basictips, .info-grid__info-item--small.bg-light-grey2basic, .info-grid__info-item--small.bg-light-grey2, 
    .info-grid__info-item--small.bg-dark-grey2 {
        margin-right: 2rem;
    }

    .info-grid__info-item--wide.bg-textbox { 
        grid-area: text-box;
        font-size: 12px;
        text-align: center;
        background-color: #5B5B5B;
        color: white;
        margin-bottom: 60px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.1rem;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
        max-height: 15vw;
    }

    .info-grid1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 15vw 15vw 45vw 35vw 45vw;
        grid-template-areas: 
            "text-box text-box"
            "basictips basictips" 
            "axe1 axe2"
            "chest creeper"
            "sheep sheep";
        background-image: url('../images/2020-09-30_15.47.54\ \(1\).png');
        width: 100%;
        background-size: contain;
        background-image: absolute;
        background-position-y: 10rem;
    }

    .basictips {
        grid-area: basictips;
        background-color: #5B5B5B;
    }

    .info-grid__info-item--small.bg-light-grey1basic {
        grid-area: axe1;
        background-color: #5B5B5B;
    }
    
    .info-grid__info-item--small.bg-light-grey2basic {
        grid-area: axe2;
        background-color: #5B5B5B;
    }

    .info-grid__info-item--wide.bg-textbox { 
        grid-area: text-box;
        font-size: 30px;
        text-align: center;
        background-color: #5B5B5B;
        color: white;
        margin-bottom: 60px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.1rem;
        letter-spacing: 0.1rem;
        line-height: 3rem;
    }
    /*infogrid 1*/

    /*info grid 2*/

    .info-grid2 {
        display: grid;
        grid-template-rows: 20vw 20vw 20vw 20vw;
        grid-template-areas: 
            "minerals dungeons"
            "minerals dungeons"
            "mineshafts dimensions"
            "mineshafts dimensions";     
    }

    /*info grid 2*/

    /*svgs*/

    .silverfish-svg, .pickaxe-svg, .skeleton-svg, .enderman-svg {
        width: 500px;
        height: 500px;
    }

    /*svgs*/

    /*up*/
    .up {
        background-color: #5B5B5B;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .up img {
        width: 100px;
        margin:auto;
        padding-top: 10px;
    }

    .text-take-me-up {
        font-size: 50px;
        margin: 0;
        padding-bottom: 30px;
        color: rgba(250, 250, 250, 0.7);
    }

    .up a:hover {
        text-shadow: 4px 4px 4px rgb(3, 3, 3);
    }

    /*up*/
}

/*media queries*/